<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Etern!ty</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="/static/styles/dashboard.css">
    <link rel="stylesheet" href="/static/styles/navbar.css">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#myModal").modal('show');
        });
    </script>

</head>

<body>

    {% if vt %}
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <br>
                <div class="row">
                    <img src="/static/images/Danger.png" style = "margin-left: 190px"alt="">
                </div>
                <br>
                <p style="margin-left: 170px">Enter Valid Details</p>
            </div>
            <button type="submit" class="btn btn-dark" data-dismiss="modal">Close</button>
            <br>
        </div>
    </div>
</div>
    {% endif %}

    <div class="sidebar-container">
        <div class="sidebar-logo">
            <img src="/static/images/Etern!ty.png" alt="">
        </div>
        
        <br><br><br><br><br>

        <ul class="sidebar-navigation">
            <li>
                <a href="/">
                    <img src="/static/images/Home.png" alt="">
                    <p style ="margin-left: 6px; color: #8E8C8C">Home</p>
                </a>
            </li>
            <br><br>
            <li>
                <a href="/hospital">
                    <img src="/static/images/Heart.png" alt="">
                    <p style ="margin-left: 1px; color: #8E8C8C">Hospital</p>
                </a>
            </li>
            <br><br>
            <li>
                <a href="/dataset">
                    <img src="/static/images/Info Square.png" alt="">
                    <p style ="margin-left: 12px; color: #8E8C8C">Info</p>
                </a>
            </li>
        </ul>
    </div>

    <div class="container-fluid">

        <div class="container">
            <div class="container" id="check">
                <br>
                <p>Hospital Administration portal </p>
            </div>

            <div class="container" id="main">
                <div class="row">
                    <div class="col">
                        <br>
                        <br>
                        <br>
                        <h5>Thank You</h5>
                        <br>
                        <p>Covid Heroes for your Handwork</p>

                        <img src="/static/images/Open Doodles.png" alt="">
                        
                    </div>
                    <div class="col">
                        <form method="post" action="/hospital">
                        <br>
                        <br>
                        <br>
                        <h6>Hospital Id</h6>
                        <input type="text" class="form-control" placeholder = "Hospital Name" name="hospital_no">
                        <br><br></br>
                        <h6>Enter Password</h6>
                        <input type="text" class="form-control" placeholder = "Hospital Password" name="hospital_pass">
                        <br>
                        <br>
                        <br>
                        <br>
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>

</body>

</html>